@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: white;
}

input:focus,
select:focus {
    outline: none;
}